@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Caveat', cursive;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Pangolin', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

root,
body,
html {
  background-color: #232b2b;
  color: #fff;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}